@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-dark text-white;
  }
}

@layer utilities {
  .bg-300\% {
    background-size: 300% 300%;
  }

  .animate-gradient {
    animation: gradient 8s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff9d;
}

/* Lenis Recommended CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
#typed {
  display: inline-block;
  line-height: 1.3;     /* prevent vertical jump */
  min-height: 1.3em;    /* matches line-height */
  min-width: 180px;     /* optional but prevents width jump */
}
